.content {
    height: 100vh;
    background: whitesmoke;
    
}

.content-item {
    margin: 0 auto;
    width: 60%;
}

.title {
    padding-top: 60px;
}

.title-item {
    padding: 5px 0 5px 15px;
    border-left: 10px solid #000; 
    margin-top: 0;
}

.form {
    width: 100%;
    margin-top: 60px;
}

.table {
    background: white;
    border-radius: 3px;
    width: 100%;
}

.table__inner {
    border-bottom: 2px solid whitesmoke;
}

.table-title, .table-td {
    text-align: center;
    padding: 10px 30px 10px 0;
}

.table-input {
    width: 80px;
    height: 30px;
}

.button__submit {
    background: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.form-csv {
    text-align: right;
    margin-top: 30px;
}

.form-csv-button {
    background: black;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}