.content {
    margin: 0 auto;
    background: whitesmoke;
}

.login-title-h {
    text-align: center;
}

.form {
    margin: 0 auto;
}

.form__error {
    color: red;
}

.form-input {
    width: 100%;
}