.content {
    height: 100vh;
    background: whitesmoke;
    
}

.content-item {
    margin: 0 auto;
    width: 50%;
}

.title {
    padding-top: 60px;
}

.title-item {
    padding: 5px 0 5px 15px;
    border-left: 10px solid #000; 
    margin-top: 0;
}

.form {
    width: 100%;
    margin-top: 60px;
}

.table {
    background: white;
    border-radius: 3px;
    width: 100%;
}

.table__inner {
    border-bottom: 2px solid whitesmoke;
}

.table-title {
    padding: 15px;
    width: 30%;
}

.table-content {
    padding: 15px;
    width: 70%;
    text-align: center;
}

.table-content_date {
    display: flex;
    padding: 15px;
    width: 100%;
    align-items: center;
}

.table-item__name {
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.table-item__date {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
}

.table-item {
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.table-textarea {
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.table-span {
    margin: 0 35px;
}

.button {
    margin-top: 25px;
    text-align: right;
}

.button__submit {
    background: black;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.button__submit-but {
    background: darkgray;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}