.content {
    height: 100vh;
    background: whitesmoke;
    margin-top: 0;
}

.content-item {
    margin: 0 auto;
    width: 70%;
}

.title {
    padding: 5px;
    border-left: 3px solid whitesmoke; 
}

.form {
    width: 100%;
}

.table {
    background: white;
    border-radius: 3px;
}

.table_inner {
    border-bottom: 2px solid whitesmoke;
}

.button__submit {
    background: black;
    color: white;
}