.content {
    margin: 0 auto;
    height: 100vh;
    background: whitesmoke;
}

.content-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 0 auto;
    width: 70%;
}

.form {
    width: 100%;
}

.table {
    background: white;
    border-radius: 3px;
}

.table_inner {
    border-bottom: 2px solid whitesmoke;
}

.button__submit {
    background: black;
    color: white;

}