.content {
    height: 100vh;
    background: whitesmoke;
    
}

.content-item {
    margin: 0 auto;
    width: 50%;
}

.title {
    padding-top: 60px;
}

.title-item {
    padding: 5px 0 5px 15px;
    border-left: 10px solid #000; 
    margin-top: 0;
}

.content__group {
    display: flex;
    border-bottom: 3px solid darkgray;
}

.button__wait, .button__apply {
    background: whitesmoke;
    font-size: 15px;
    border: none;
    margin: 30px 25px;
}

.button__wait {
    font-weight: bold;
    color: #000;
}

.button__apply {
    color: darkgray;
}

.item {
    width: 100%;
    margin-top: 40px;
}

.table {
    background: white;
    border-radius: 3px;
    width: 100%;
}

.table__inner {
    border-bottom: 2px solid whitesmoke;
}

.table-title, .table-td {
    text-align: center;
    padding: 10px 30px 10px 0;
}

.table-input {
    border: none;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.link-a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}