.header {
    background: black;
    display: flex;
    justify-content: space-between;
}

.header__inner {
    width: 30%;
}

.header__logo {
    width: 100%;
}

.header-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header-nav__link {
    color: white;
}

.header-nav__button {
    border: none;
    background: black;
    color: white;
}