.content {
    height: 100vh;
    background: whitesmoke;
    margin-top: 0;
}

.content-item {
    margin: 0 auto;
    width: 50%;
}

.status-p {
    background: darkgray;
    border-radius: 50px;
    padding: 5px 10px;
    color: dimgrey;
}

.button-b {
    background: black;
    color: white;
}